#header {
  background-image: url('./components/Header/pizza.jpg');
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
}

#header-title {
  font-family: 'Sacramento', cursive;
  font-size: 50px;
  font-weight: bold;
  align-self: center;
  color: white;
  width: 100vw;
  text-align: center;
}