@import './components/Auth/Auth.less';
@import './components/Header/Header.less';
@import './components/Home/Home.less';
@import './components/Input/Input.less';
@import './components/Map/Map.less';
@import './components/Modal/Modal.less';

@headerHeight: 50vh;
@lightGray: #e4e4e4;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.divider {
  background-color: @lightGray;
  height: 1px;
  margin: 5px 0px;
}

.add-remove {
  cursor: pointer;
  transition: 0.3s;
}

.add {
  color: green;
  
  &:hover {
    color: darkgreen;
  }
}

.remove {
  color: red;

  &:hover {
    color: darkred;
  }
}

.label {
  font-weight: bold;
}

.flow-down {
  display: flex;
  flex-direction: column;
}